## Task 1:

1.1. Tạo một chương trình Python mới có tên “lastname_firstname_grade_the_exams.py.”

1.2. Viết hàm cho phép người dùng nhập tên của một tệp và truy cập đọc.

1.3. Nếu tệp tồn tại, bạn có thể in ra một thông báo xác nhận. Nếu tệp không tồn tại, hiển thị không thể tìm thấy tệp và yêu cầu nhập lại.

1.4. Sử dụng try/except để thực hiện việc này (đừng chỉ sử dụng một loạt câu lệnh “if”):

In [1]:
import re
import os
import numpy as np
import pandas as pd

In [2]:
def access():
    while True:
        try:
            filename = input('Enter a filename: ') + '.txt'
            with open(filename, 'r') as f:
                FileContent = f.read()
        except:
            print("Sorry, I can't find this filename")
        else:
            print(f'Successfully opened {filename}')
            return filename

filename = access()
filename

Enter a filename: class2
Successfully opened class2.txt

'class2.txt'

## Task 2

Tiếp theo, bạn sẽ cần phân tích dữ liệu có trong tệp bạn vừa mở để đảm bảo rằng nó ở đúng định dạng. Mỗi tệp dữ liệu chứa một loạt câu trả lời của học sinh ở định dạng sau:

N12345678,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D

hoặc

N12345678,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D,A,B,C,D,E

Nhiệm vụ của bạn cho phần này của chương trình là thực hiện như sau:

2.1. Báo cáo tổng số dòng dữ liệu được lưu trữ trong tệp.

2.2. Báo cáo tổng số dòng dữ liệu không hợp lệ trong tệp.

Một dòng hợp lệ chứa danh sách 26 giá trị được phân tách bằng dấu phẩy N# cho một học sinh là mục đầu tiên trên dòng. Nó phải chứa ký tự “N” theo sau là 8 ký tự số. 

2.3. Nếu một dòng dữ liệu không hợp lệ, bạn nên báo cáo cho người dùng bằng cách in ra một thông báo lỗi.

Gợi ý: Sử dụng phương pháp split để tách dữ liệu ra khỏi tệp.

In [3]:
def analyzing(filename):
    valid_lines = []                                   # Tạo danh sách phần tử hợp lệ
    invalid_lines = []                                 # Tạo danh sách phần tử không hợp lệ
    
    with open(filename, 'r') as f:  
        for line in f:
            lines = line.strip().split(',')

            count_element = len(lines) == 26          # Tạo Biến số lượng phần tử trong danh sách là 26

            # Tạo biến có giá trị đầu là N + 8 ký tự số khác None
            is_valid_first_element = re.match(r'^N\d{8}$', lines[0].strip()) is not None 

            # Kiểm tra số lượng phần tử và phần tử đầu tiên thỏa điều kiện và để vào 2 danh sách
            if count_element and is_valid_first_element:
                valid_lines.append(line.strip())
            else:
                invalid_lines.append(line.strip())
                
    print('**** ANALYZING ****')
    if len(invalid_lines) != 0:
        print('Invalid line of data: does not contain exactly 26 values:')
        for line in invalid_lines:
            print(line)
    else:
        print('No errors found!')

    print('\n')
    print('**** REPORT ****')
    print("Valid Lines:", len(valid_lines), 'values')
    print("Invalid Lines:", len(invalid_lines), 'values')


analyzing(filename)

**** ANALYZING ****
Invalid line of data: does not contain exactly 26 values:
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A


**** REPORT ****
Valid Lines: 21 values
Invalid Lines: 4 values

## Task 3

Tiếp theo, bạn sẽ viết chương trình để chấm điểm các bài thi cho một phần nhất định. Kỳ thi gồm 25 câu hỏi, trắc nghiệm. Đây là một chuỗi đại diện cho các câu trả lời:

answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

Chương trình sẽ sử dụng những câu trả lời này để tính điểm cho mỗi dòng dữ liệu hợp lệ. Điểm có thể được tính như sau:

+ 4 điểm cho mỗi câu trả lời đúng
+ 0 điểm cho mỗi câu trả lời bị bỏ qua
+ -1 điểm cho mỗi câu trả lời sai

Chúng ta cũng cần thống kê các yêu cầu sau:

Đếm số lượng học sinh đạt điểm cao (>80).

Điểm trung bình.

Điểm cao nhất.

Điểm thấp nhất.

Miền giá trị của điểm (cao nhất trừ thấp nhất).

Giá trị trung vị (Sắp xếp các điểm theo thứ tự tăng dần. Nếu # học sinh là số lẻ, bạn có thể lấy giá trị nằm ở giữa của tất cả các điểm (tức là [0, 50, 100] — trung vị là 50). Nếu # học sinh là chẵn bạn có thể tính giá trị trung vị bằng cách lấy giá trị trung bình của hai giá trị giữa (tức là [0, 50, 60, 100] — giá trị trung vị là 55)).

Trả về các câu hỏi bị học sinh bỏ qua nhiều nhất theo thứ tự: số thứ tự câu hỏi - số lượng học sinh bỏ qua - tỉ lệ bị bỏ qua (nếu có cùng số lượng cho nhiều câu hỏi bị bỏ thì phải liệt kê ra đầy đủ).

Trả về các câu hỏi bị học sinh sai qua nhiều nhất theo thứ tự: số thứ tự câu hỏi - số lượng học sinh trả lời sai - tỉ lệ bị sai (nếu có cùng số lượng cho nhiều câu hỏi bị sai thì phải liệt kê ra đầy đủ).

Lưu ý: các giá trị số thực làm tròn 3 chữ số thập phân

In [4]:
answer_keys = ['B','A','D','D','C','B','D','A','C','C','D','B','A','B','A','C','B','D','A','C','A','A','B','D','D']

In [5]:
def find_median_grade(grades, numbers_student):
    grades.sort()
    mid_index = numbers_student // 2
    if numbers_student % 2 == 0:
        median_grade = (grades[mid_index - 1] + grades[mid_index]) / 2
    else:
        median_grade = grades[mid_index]
    return median_grade  

def find_above_grade(grades, find_grade):
    count_above_grade = 0
    for grade in grades:
        if grade >= find_grade:
            count_above_grade += 1
    return count_above_grade

def find_skipped_answers(skipped_answers, numbers_student):
    most_skipped_questions = sorted(
        ((idx + 1, count, f"{count / numbers_student}") for idx, count in enumerate(skipped_answers)),
        key=lambda x: x[1], reverse=True
                                    )
    return most_skipped_questions
                                  
def find_incorrect_answers(incorrect_answers, numbers_student):                           
    most_incorrect_questions = sorted(
        ((idx + 1, count, f"{count / numbers_student}") for idx, count in enumerate(incorrect_answers)),
        key=lambda x: x[1], reverse=True
                                    ) 
    return most_incorrect_questions

def calculate_grade(filename, answer_keys):
    results = []                                # Tạo Danh sách gồm mã thí sinh và điểm
    grades = []                                 # Tạo Danh sách điểm từng câu hỏi
    skipped_answers = [0] * len(answer_keys)    # Tạo Danh sách rỗng câu trả lời bị bỏ qua
    incorrect_answers = [0] * len(answer_keys)  # Tạo Danh sách rỗng câu trả lời sai
    
    with open (filename, 'r') as f:
        for line in f:
            line = line.strip().split(',')
            
            student_id = line[0]                # Xác nhận giá trị đầu tiên là mã thí sinh
            student_answers = line[1:]          # Xác nhận từ giá trị thứ 2 trở về sau là câu trả lời của thí sinh
            grade = 0
            
            # So sánh câu trả lời của thí sinh với đáp án
            for index, (student_answer, correct_answer) in enumerate(zip(student_answers, answer_keys)):
                if student_answer == correct_answer:
                    grade += 4
                elif student_answer == '':
                    skipped_answers[index] += 1
                else:
                    grade -= 1
                    incorrect_answers[index] += 1
                        
            results.append((student_id, grade))   # Nối tuple Danh sách mã thí sinh + điểm
            grades.append(grade)                  # Nối Danh sách Điểm
 
    return results, grades, student_answers, skipped_answers, incorrect_answers

def report(filename, answer_keys):
    results, grades, student_answers, skipped_answers, incorrect_answers = calculate_grade(filename, answer_keys)
    
    total_grade = sum(grades)    
    numbers_student = len(results)  
    
    average_grade = total_grade / numbers_student 
    max_grade = max(grades)
    min_grade = min(grades)
    median_grade = find_median_grade(grades, numbers_student)
    count_above_80 = find_above_grade(grades, 80)
    most_skipped_questions = find_skipped_answers(skipped_answers, numbers_student)
    most_incorrect_questions = find_incorrect_answers(incorrect_answers, numbers_student)
        
    print('Total student of high scores: ', count_above_80)
    print('Mean (average) score: ', average_grade)
    print('Highest score: ', max_grade)
    print('Lowest score:: ', min_grade)
    print('Range of scores: ', max_grade - min_grade)
    print('Median score:: ', median_grade)
    print('Question that most people skip: ', most_skipped_questions)
    print('Question that most people answer incorrectly: ', most_incorrect_questions)

    
report = report(filename, answer_keys)

Total student of high scores:  7
Mean (average) score:  77.68
Highest score:  100
Lowest score::  66
Range of scores:  34
Median score::  76
Question that most people skip:  [(22, 6, '0.24'), (12, 4, '0.16'), (18, 4, '0.16'), (19, 4, '0.16'), (1, 3, '0.12'), (7, 3, '0.12'), (14, 3, '0.12'), (16, 3, '0.12'), (2, 2, '0.08'), (4, 2, '0.08'), (6, 2, '0.08'), (11, 2, '0.08'), (13, 2, '0.08'), (21, 2, '0.08'), (24, 2, '0.08'), (25, 2, '0.08'), (3, 1, '0.04'), (5, 1, '0.04'), (8, 1, '0.04'), (9, 1, '0.04'), (10, 1, '0.04'), (15, 1, '0.04'), (20, 1, '0.04'), (23, 1, '0.04'), (17, 0, '0.0')]
Question that most people answer incorrectly:  [(10, 5, '0.2'), (18, 5, '0.2'), (1, 4, '0.16'), (6, 4, '0.16'), (8, 4, '0.16'), (12, 4, '0.16'), (16, 4, '0.16'), (17, 4, '0.16'), (7, 3, '0.12'), (21, 3, '0.12'), (22, 3, '0.12'), (24, 3, '0.12'), (2, 2, '0.08'), (3, 2, '0.08'), (5, 2, '0.08'), (9, 2, '0.08'), (11, 2, '0.08'), (14, 2, '0.08'), (15, 2, '0.08'), (19, 2, '0.08'), (20, 2, '0.08'), (4, 1, '0.04'), (25, 1, '0.04'), (13, 0, '0.0'), (23, 0, '0.0')]

## Task 4

Cuối cùng, yêu cầu chương trình là tạo một tệp “kết quả” chứa các kết quả chi tiết cho từng học sinh trong lớp. Mỗi dòng của tệp này phải chứa số ID của học sinh, dấu phẩy và sau đó là điểm của họ. Bạn nên đặt tên tệp này dựa trên tên tệp gốc được cung cấp — ví dụ: nếu người dùng chọn “class1.txt”, bạn nên lưu trữ kết quả trong tệp có tên “class1_grades.txt”.

In [6]:
def get_output_filename(input_file):
    base_name, _ = os.path.splitext(input_file)
    return f"{base_name}_grades.txt"


def save_file(filename):
    output_file_name = get_output_filename(filename)
    results, grades, student_answers, skipped_answers, incorrect_answers = calculate_grade(filename, answer_keys)
    
    with open(output_file_name, 'w') as out_file:
        for student_id, grade in results:
            out_file.write(f"{student_id},{grade}\n")

save_file(filename)

## Task 5

Chỉ sử dụng pandas và numpy, triển khai task 1 đến task 4.

In [31]:
# Task 1

def access_pd():
    while True:
        try:
            file_name = input("Enter a filename: ") + '.txt'
            df = pd.read_csv(file_name, header=None, delimiter='\t')
        except FileNotFoundError:
            print("Sorry, I can't find this filename")
            return None
        else:
            print(f'Successfully opened {file_name}')
            return df

filename = access_pd()
filename

Enter a filename: class2
Successfully opened class2.txt

                                                    0
0   N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,...
1   N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A...
2   N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C...
3   N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,...
4   N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C...
5   N00000026,B,C,D,D,C,D,B,A,C,D,D,,A,B,A,C,B,D,,...
6   NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,...
7   N00000028,B,A,D,D,D,B,D,A,C,C,,,A,B,A,,B,D,C,C...
8   N00000029,B,A,D,D,C,A,D,A,C,C,D,B,A,B,A,C,B,,,...
9   N00000030,A,A,D,D,C,B,D,,C,C,D,B,A,B,A,C,B,B,A...
10  N00000031,B,,D,D,C,B,D,A,A,C,D,C,A,B,A,C,B,C,A...
11  N00000032,B,A,D,D,C,B,D,A,C,C,D,,A,A,A,C,B,D,A...
12  N00000033,B,A,D,D,C,,D,A,C,B,D,B,A,B,C,C,C,D,A...
13  N00000034,B,,D,,C,B,A,A,C,C,D,B,A,,A,C,B,A,B,C...
14  N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,...
15  N00000036,B,A,D,D,C,B,D,A,C,B,A,C,A,B,A,C,B,D,...
16  N00000037,B,A,D,D,C,,D,A,C,C,D,,A,B,A,A,B,D,A,...
17  N00000038,,A,D,,C,B,D,A,A,C,D,B,A,B,A,C,B,D,,C...
18  N00000039,B,A,D,D,C,A,B,A,C,C,D,B,A,D,A,,C,D,A...
19  N00000040,B,A,,D,C,B,D,D,C,C,C,B,A,B,A,C,A,,A,...
20  N00000041,,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A...
21  N00000042,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,...
22  N00000043,C,A,D,D,C,B,D,A,C,C,D,B,A,B,C,C,B,D,...
23  N00000044,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,...
24  N00000045,C,A,A,D,C,B,D,C,,C,D,B,A,B,A,B,B,A,,...

In [35]:
# Task 2

def analyzing_pd(filename):
    valid_rows = 0
    invalid_rows = 0
    
    for index, row in filename.iterrows():
        line = row[0].split(',')
        if len(row) != 26:  # Kiểm tra xem mỗi dòng có đúng 26 giá trị hay không
            #print(f"Invalid data at line {index+1}: Incorrect number of values")
            invalid_rows += 1
        
        student_id = row[0][:9]
        if not isinstance(student_id, str) or not student_id.startswith('N') or not student_id[1:].isdigit() or len(student_id) != 9:
            #print(f"Invalid data at line {index+1}: Invalid student ID format")
            invalid_rows += 1
        else:
            valid_rows += 1
        
        print('line', line)
        print('count', count(row))
        
        
    #print('**** ANALYZING ****')
    
    
    #print('**** REPORT ****')
    print('Total valid lines of data: ', valid_rows)
    print('Total invalid lines of data: ', invalid_rows)
    
analyzing_pd(filename)

line ['N00000021', 'B', 'A', 'C', 'D', 'C', 'C', 'D', 'D', 'C', 'C', 'D', 'B', '', 'B', 'A', 'C', 'B', '', 'A', 'D', 'A', 'A', 'B', 'D', '']

NameError: name 'count' is not defined

In [37]:
import pandas as pd

# Đường dẫn đến file
file_path = 'class2.txt'

# Đọc file và chia các giá trị trong mỗi hàng thành các cột
data = []
with open(file_path, 'r') as file:
    for line in file:
        # Tách các giá trị trong hàng bằng dấu phẩy (hoặc dấu tương ứng)
        values = line.strip().split(',')  # Sử dụng dấu tab ('\t') nếu cách các giá trị bằng tab
        data.append(values)

# Tạo DataFrame từ dữ liệu đã đọc
df = pd.DataFrame(data)

# Hiển thị DataFrame
print(df)

           0  1  2  3  4  5  6  7  8  9   ... 18 19 20 21 22    23    24  \
0   N00000021  B  A  C  D  C  C  D  D  C  ...     A  D  A  A     B     D
1   N00000022  B  A  D  A  C  B  D  D  C  ...  A  A  C  A  A     B     A
2   N00000023     A  D  D  C  B  D  A  C  ...  D  A  C  A  A  None  None
3   N00000024  C  C  D  D  C  B     A  C  ...  D  A  C  A  B     B
4    N0000002  B  A  D  D  C  B  D  A  C  ...     A  C  A  A     B     D
5   N00000026  B  C  D  D  C  D  B  A  C  ...  D     C  A  A     B     D
6   NA0000027  B  A  D  D     B     A  C  ...  D  A     A  A     B     D
7   N00000028  B  A  D  D  D  B  D  A  C  ...  D  C  C  A  A     B     C
8   N00000029  B  A  D  D  C  A  D  A  C  ...        C  A  A     B     D
9   N00000030  A  A  D  D  C  B  D     C  ...  B  A  C  A        B     D
10  N00000031  B     D  D  C  B  D  A  A  ...  C  A  C  C  A     B     D
11  N00000032  B  A  D  D  C  B  D  A  C  ...  D  A  C     A     B     D
12  N00000033  B  A  D  D  C     D  A  C  ...  D  A  C  A        B     D
13  N00000034  B     D     C  B  A  A  C  ...  A  B  C  A        B     D
14  N00000035  B  A  D  D  B  B     A  C  ...  D  A  C  A  C     B     D
15  N00000036  B  A  D  D  C  B  D  A  C  ...  D  A  C  A  A     B
16  N00000037  B  A  D  D  C     D  A  C  ...  D  A  C                 D
17  N00000038     A  D     C  B  D  A  A  ...  D     C  A  D     B     D
18  N00000039  B  A  D  D  C  A  B  A  C  ...  D  A  B  A  A     B     A
19  N00000040  B  A     D  C  B  D  D  C  ...     A  C  A        B     D
20  N00000041     A  D  D  C  B  D  A  C  ...  D  A  C  B  A     B     D
21  N00000042  B  A  D  D  C  B  D  A  C  ...  D  A  C  A  A     B     D
22  N00000043  C  A  D  D  C  B  D  A  C  ...  D  A  C  A        B     D
23  N00000044  B  A  D  D  C  B  D  A  C  ...  D  A  C  D  A     B     D
24  N00000045  C  A  A  D  C  B  D  C     ...  A     C  A  A     B     D

      25    26    27
0         None  None
1      D  None  None
2   None  None  None
3      D  None  None
4      D  None  None
5      D  None  None
6      D  None  None
7      D  None  None
8      D  None  None
9      D  None  None
10     D  None  None
11     D  None  None
12     D  None  None
13     D  None  None
14     D     A     A
15        None  None
16     D  None  None
17     C  None  None
18     D  None  None
19     D  None  None
20     D  None  None
21     D  None  None
22     D  None  None
23     D  None  None
24     D  None  None

[25 rows x 28 columns]

In [41]:
while True:
    filename = input("Enter name class: ") 
    FILE_PATH = filename + ".txt"
    try:
        df = pd.read_csv(FILE_PATH,delimiter=",",header = None, index_col=0)
        df.index.name = "student_number"
        df = df.fillna(0)
    except Exception as e:
        print(e)
    else:
        print("\n SUCCESSFULLY OPENED",filename)
        break

grade = [] # list grade

answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(",")

for i in range(df.shape[0]):
    score = 0
    for j in range (df.shape[1]):
        if df.iloc[i,j] == answer_key[j]:
            score += 4
        elif df.iloc[i,j] == 0:
            score += 0
        else:
            score -= 1
    grade.append(score)
    
df["score"] = grade


print("**** REPORT ****\n")
print("Total valid lines of data: ", df.shape[0],"\n")
print("Mean (average) score:", df["score"].mean(),"\n")
print("Highest score", df["score"].max(),"\n")
print("Lowest score", df["score"].min(),"\n")
print("Range of scores", df["score"].max() - df["score"].min(),"\n")
print("Median score: ",df["score"].median(),"\n")

Enter name class: class2
Error tokenizing data. C error: Expected 26 fields in line 15, saw 28

Enter name class: class4
Error tokenizing data. C error: Expected 26 fields in line 471, saw 27

Enter name class: class5

 SUCCESSFULLY OPENED class5
**** REPORT ****

Total valid lines of data:  1000

Mean (average) score: 75.604

Highest score 100

Lowest score 40

Range of scores 60

Median score:  77.0